<div class="example-container">
        <h2>Search for a book on ISBN, Author, or Name</h2>
        <mat-form-field>
          <input #searchString matInput placeholder="Search Query" (keyup.enter)="search(searchString.value)">
        </mat-form-field>
        <button (click)="search(searchString.value)" mat-raised-button color="primary">Search!</button>
      </div>
    
    <div *ngIf="shouldShowCheckout">
        <mat-form-field>
          <input #cardNo matInput placeholder="Card Number">
        </mat-form-field>
        <button (click)="isAbleToCheckout(cardNo.value)" mat-raised-button color="primary">Checkout!</button>
        {{message}}
    </div>
    
    <div *ngFor= "let result of results">
        {{result.isbn}}
        {{result.name}}
        {{result.title}}
        <button (click)="showCheckout(result.isbn)" *ngIf="result.can_checkout" mat-raised-button color="primary" >Checkout</button>
    </div>